In [112]:
import pandas as pd

In [113]:
df = pd.read_csv("data.txt", header=None, names=["cals"], skip_blank_lines=False)

In [114]:
df['empty'] = df.isna().replace({True: 1, False: 0})

In [ ]:
df2['i'] = df2.index

In [116]:
df2 = df.loc[df['empty'] == 1].copy()

In [117]:
df2 = df2.reset_index()

In [118]:
df2['teller'] = df2.index + 1

In [119]:
df2

     index  cals  empty  teller
0        2   NaN      1       1
1       16   NaN      1       2
2       23   NaN      1       3
3       36   NaN      1       4
4       45   NaN      1       5
..     ...   ...    ...     ...
249   2208   NaN      1     250
250   2222   NaN      1     251
251   2224   NaN      1     252
252   2235   NaN      1     253
253   2245   NaN      1     254

[254 rows x 4 columns]

In [121]:
df = df.reset_index()