In [1]:
import pandas as pd

In [8]:
# df =pd.read_csv("data.txt", header=None, names=["cals"], skip_blank_lines=False)

In [10]:
df = (
    pd
    .read_csv("data.txt", header=None, skip_blank_lines=False, names=["calories"])
    .assign(
        delim=lambda rows: rows.isnull(),
        elf_number=lambda rows: rows.delim.cumsum()
    )
    .dropna()
    .groupby("elf_number")
    .agg({"calories": "sum"})
    .reset_index()
)

In [12]:
df

     elf_number  calories
0             0   34142.0
1             1   54868.0
2             2   28046.0
3             3   64877.0
4             4   39885.0
..          ...       ...
250         250   54437.0
251         251   67021.0
252         252   38620.0
253         253   49395.0
254         254   45165.0

[255 rows x 2 columns]